#steps {
    text-align: center;
    .step {
        display: inline-block;
        height: 65px;
        width: 65px;
        border: solid 2px black;
        border-radius: 50%;
        font-size: 36px;
        padding: 5px;
        margin: 15px 50px;
        cursor: pointer;
        transition: all 0.3s;
    }
    .step:hover {
        background: #000;
        color: #fff;
    }
}

.active_step {
    background: #000;
    color: #fff;
}

#ideas {
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .idea {
        background: #c6c6c6;
        border-radius: 10px;
        width: 255px;
        margin: 15px;
        h3 {
            margin-top: 10px;
            text-align: center;
        }
        p {
            padding: 10px 15px;
            border: dotted 1px grey;
        }
        .save_button {
            background: green;
            color: #fff;
        }
    }
}

#add_board {
    .input_container {
        padding: 0;
    }
}
